.header{
    background-color: orange;
    height: 75px;
}
.content{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.linkText{
    position: relative;
    top: 0;
    box-shadow: 3px 3px 2px black;
    transition: all .1s ease;
    cursor: pointer;
    font-weight: 700;
    border-radius: 15px;
    margin-top: 15px;
    height: 50px;
    padding: 0 10px;
    background-color: yellow;
    line-height: 50px;
}
.linkText:active{
    top: 2px;
    box-shadow: 1px 1px 2px black;
}
.link{
    color: black;
    text-decoration: none;
}
.linkText:hover{
    background-color: gold;
}